<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="ignoreFailedSources" value="true" />
  </config>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- IGT internal packages (IGT.FloorNet.*) must be cached in the global NuGet cache
         or available at C:\nuget. On the corporate network, enable the source below: -->
    <!-- <add key="IGT.Systems.Nexus" value="https://nexus.tools.igt.com/repository/nuget-group/index.json" /> -->
    <add key="Local" value="C:\nuget" />
  </packageSources>
</configuration>
